<div class="products-list-container">
  <p>Pipe VocalsToNumber:: {{ "aeiou z" | vocalsToNumber }}</p>
  <p>La cantidad {{ myShoppingCart.length }}</p>
  <p>Total: ${{ total }}</p>
  <p>Today: {{ today | date: "short" }}</p>
  <!-- https://angular.io/api/common/DatePipe -->
  <p>Today timeAgo pipe: {{ today | timeAgo }}</p>
  <p>Date timeAgo: {{ date | timeAgo }}</p>
  <p>Otra fecha: {{ date | date: "yyyy...dd...MM" }}</p>
  <p>
    {{ "hOLA BasCVASas asASA" | uppercase }}
  </p>
  <hr />
  <div class="products--grid">
    <app-product
      [product]="product"
      *ngFor="let product of products"
      (addedProduct)="onAddToShoppingCart($event)"
    ></app-product>
  </div>
</div>
