<app-nav></app-nav>
<app-products></app-products>

<!-- <p><input type="text" [(ngModel)]="imgParent" /></p>
<button (click)="toggleImg()">Toggle Img</button>
<p>{{ showImg }}</p>
<app-img
  *ngIf="showImg"
  (loaded)="onLoaded($event)"
  [img]="imgParent"
></app-img>
<hr /> -->

<!-- <p>imgParent: {{ imgParent }}</p> -->
<!-- <p>url: {{ url }}</p> -->
<!-- <app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="url"></app-img> -->
<!-- <p>imgChild: {{ imgChild }}</p> -->

<!-- Si se pone en product component y se define como myProducts, aca hay que hacer el binding con ese nombre
<app-product [myProduct]="products" -->
<!-- <app-product [product]="product" *ngFor="let product of products"></app-product> -->
<hr />
